---
import Container from "../common/container.astro";
import HeadingSecondary from "../common/heading-secondary.astro";
---

<section id="about" class="bg-indigo-900">
  <Container>
    <div class="p-7">
      <HeadingSecondary>about</HeadingSecondary>
      <div class="space-y-3 mt-5">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nemo
          non tenetur dolorem, sequi recusandae, facere est porro quia eius
          voluptatem quibusdam iure quo reiciendis eum laboriosam. Vel, quos
          doloribus.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          illum laudantium rem tempore, praesentium fuga optio ratione nemo sint
          porro iste obcaecati et soluta vel tempora reiciendis minima
          dignissimos dolorum!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea numquam
          accusantium provident sapiente perspiciatis laborum, consequatur
          dolore totam. Nam ratione mollitia quaerat voluptatibus blanditiis
          fuga a natus, corporis eligendi. Maxime?
        </p>
      </div>
    </div>
  </Container>
</section>
