---
import Container from "../common/container.astro";
import HeadingSecondary from "../common/heading-secondary.astro";
---

<section id="about" class="bg-scarpa-flow-800">
  <Container>
    <div class="px-7 py-20">
      <HeadingSecondary>about</HeadingSecondary>
      <div class="space-y-3 mt-7 text-white">
        <p class="text-lg max-w-prose">
          My name is János Nánai, an engineer and full-stack developer based in
          Budapest, Hungary. I like tinkering with bleeding edge tech and enjoy
          conquering new challenges.
        </p>
      </div>
    </div>
  </Container>
</section>
