---
import Container from "../common/container.astro";
import HeadingSecondary from "../common/heading-secondary.astro";
import ContactForm from "../contact-form.svelte";
---

<section id="contact" class="bg-gallery-200 dark:bg-outer-space-900">
  <div class="px-7 py-28">
    <Container>
      <HeadingSecondary>contact me</HeadingSecondary>
      <ContactForm client:load />
    </Container>
  </div>
</section>
