---
import Container from "../common/container.astro";

import getCurrentYear from "../../utils/get-current-year";
---

<footer class="bg-scarpa-flow-900 text-center">
  <Container>
    <p class="text-scarpa-flow-50">that's all folks! © {getCurrentYear()}</p>
  </Container>
</footer>
