---
import HeadingMain from "../common/heading-main.astro";
---

<section
  class="h-screen bg-zinc-900 flex flex-col items-center justify-center space-y-7"
>
  <HeadingMain
    ><span class="block text-zinc-400 text-3xl mb-3">the personal site of</span>
    <span class="block">János Nánai</span>
  </HeadingMain>
  <h4 class="text-zinc-500">engineer - web developer</h4>
</section>
