---
import Article from "../common/article.astro";
import Container from "../common/container.astro";
import HeadingSecondary from "../common/heading-secondary.astro";
---

<section id="projects" class="bg-indigo-700">
  <Container>
    <div class="px-7 py-20">
      <HeadingSecondary>projects</HeadingSecondary>
      <div class="space-y-3 mt-7">
        <Article />
        <Article />
        <Article />
        <Article />
      </div>
    </div>
  </Container>
</section>
