---
import Article from "../common/article.astro";
import Container from "../common/container.astro";
import HeadingSecondary from "../common/heading-secondary.astro";
---

<section class="bg-indigo-700">
  <Container>
    <HeadingSecondary>projects</HeadingSecondary>
    <div class="space-y-3">
      <Article />
      <Article />
      <Article />
      <Article />
    </div>
  </Container>
</section>
