---
import BaseLayout from "../layouts/base-layout.astro";

import Navbar from "../components/navbar.astro";
import Hero from "../components/sections/hero.astro";
import About from "../components/sections/about.astro";
import Projects from "../components/sections/projects.astro";
import Contact from "../components/sections/contact.astro";
import Footer from "../components/sections/footer.astro";
---

<BaseLayout title="The personal site of János Nánai">
  <header>
    <Navbar />
    <Hero />
  </header>
  <main>
    <About />
    <Projects />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
