---
import Container from "./common/container.astro";
import HeadingSecondary from "./common/heading-secondary.astro";
---

<script>
  async function handleSubmit(e: SubmitEvent) {
    e.preventDefault();
    const targetEl = e.target;
    const responseEl = document.getElementById("response");

    if (!targetEl) return;

    const myFormData = new FormData(targetEl as HTMLFormElement);
    const myOutput = new Object();
    for (const [name, value] of myFormData) {
      Object.assign(myOutput, { [name]: value });
    }

    const res = await fetch("/api/post", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(myOutput),
    });

    console.log(res);

    if (!responseEl) return;

    if (res.ok) {
      responseEl.innerHTML = "message sent succesfully";
    } else {
      responseEl.innerHTML = "error while sending message";
    }
  }

  const contactForm = document.getElementById("contact-form");

  if (contactForm) {
    contactForm.onsubmit = handleSubmit;
  } else console.log("no form found");
</script>

<section class="bg-indigo-900">
  <Container>
    <HeadingSecondary>contact me</HeadingSecondary>
    <form id="contact-form" class="p-7">
      <div class="flex flex-col gap-3">
        <input name="name" type="text" />
        <input name="emailAddress" type="text" />
        <textarea name="message"></textarea>
        <button class="p-2 bg-fuchsia-500">send test email</button>
      </div>
    </form>
    <p id="response"></p>
  </Container>
</section>
