---
import Anchor from "./common/anchor.astro";

const navItems = [
  { href: "#about", title: "about" },
  { href: "#projects", title: "projects" },
  { href: "#contact", title: "contact" },
];
---

<nav
  class="absolute z-10 bg-transparent flex justify-between w-full container bottom-0 left-1/2 -translate-x-1/2 items-center"
>
  <Anchor href="#hero" title="janosnanai.dev" />
  <div>
    {navItems.map((navItem) => <Anchor {...navItem} />)}
  </div>
</nav>
