---
import Anchor from "./common/anchor.astro";
import Container from "./common/container.astro";
---

<Container>
  <nav class="bg-transparent fixed"><Anchor href="#" title="hello" /></nav>
</Container>
