<article class="flex odd:flex-row even:flex-row-reverse">
  <div>
    <h3 class="text-xl">project name</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia
      officiis optio ipsa nostrum culpa aperiam quisquam magnam iusto aspernatur
      minima pariatur ratione aut, veniam debitis reiciendis nesciunt sint
      distinctio architecto!
    </p>
  </div>
  <div class="bg-sky-300 w-32"><span>picture here</span></div>
</article>
